.container h2
{
    margin-top: 20px;
    margin-bottom:10px;
}


.row
{
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.card-body
{
    background:#e6e9e4fb
}

.card-body .btn
{
    background-color: rgb(20, 21, 21);
}
.card:hover
{
    transform:scale(0.9);
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgb(25, 21, 29);
}